@tailwind base;
@tailwind components;
@tailwind utilities;

.my-nav {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --rem: 16;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --swiper-theme-color: #007aff;
  color: #212529;
  text-align: left;
  font-family: Poppins, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial,
    Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji,
    "Segoe UIsans-serif Emoji", Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  line-height: 1.2;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: transparent;
  padding: 0.3rem 1rem;
}

.nav-bg {
  color: #212529;
}

.my-icon {
  width: 2rem;
  height: 2rem;
}

.my-btn {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --swiper-theme-color: #007aff;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  margin: 1px 0px;
  border: none;
  outline: none;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 184, 162);
  border-radius: 6px;
  cursor: pointer;
}

.search-wrapper {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --swiper-theme-color: #007aff;
  color: #212529;
  text-align: left;
  font-family: Poppins, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial,
    Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji,
    "Segoe UIsans-serif Emoji", Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  line-height: 1.2;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9a9a9a;
  background-color: #fff;
  padding: 4px;
  border-radius: 12px;
  overflow: hidden;
  width: 100% !important;
}

.cart-qty{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --swiper-theme-color: #007aff;
  font-family: Poppins,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,"Segoe UIsans-serif Emoji",Segoe UI Symbol,Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  color: rgba(0,0,0,.7);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: #e7fffb;
  font-size: 10px;
  border-radius: 50px;
  border: 1px solid rgba(68,187,169,.5);
  top: 1px;
  left: -20px;
  line-height: 13px;
  position: relative;
  font-weight: 600;
}