<div class="category-details col-md-12">
  <div class="main-container flex-row-reverse">
    <div
      style="
        display: block;
        overflow: hidden;
        position: absolute;
        inset: 0px;
        box-sizing: border-box;
        margin: 0px;
      "
    >
      <img
        alt="osudpotro category background image"
        src="/_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=3840&amp;q=75"
        decoding="async"
        data-nimg="fill"
        class="category-bg bg-images"
        sizes="100vw"
        srcset="
          /_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=640&amp;q=75   640w,
          /_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=750&amp;q=75   750w,
          /_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=828&amp;q=75   828w,
          /_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=1080&amp;q=75 1080w,
          /_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=1200&amp;q=75 1200w,
          /_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=1920&amp;q=75 1920w,
          /_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=2048&amp;q=75 2048w,
          /_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&amp;w=3840&amp;q=75 3840w
        "
        style="
          position: absolute;
          inset: 0px;
          box-sizing: border-box;
          padding: 0px;
          border: none;
          margin: auto;
          display: block;
          width: 0px;
          height: 0px;
          min-width: 100%;
          max-width: 100%;
          min-height: 100%;
          max-height: 100%;
          object-fit: cover;
          object-position: center center;
        "
      /><noscript></noscript>
    </div>
    <div class="category-content flex-row-reverse">
      <a
        href="/category/men's-products?cat_id=64b3a370f64ebd56fad71bd5"
        class="see-all-button nav-link"
        >View All</a
      >
      <div class="text-wrapper home-seo">
        Men's Products include all cosmetic products intended for use by men,
        such as skincare products, hair care products, body care products, sun
        care products, perfumes, and other decorative cosmetics.
      </div>
      <span class="section-title">Men's Products</span>
      <div class="section-img">
        <div
          style="
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            margin: 0px;
          "
        >
          <div style="box-sizing: border-box; display: block; max-width: 100%">
            <img
              alt=""
              aria-hidden="true"
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIwIiBoZWlnaHQ9IjIwMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="
              style="
                max-width: 100%;
                display: block;
                margin: 0px;
                border: none;
                padding: 0px;
              "
            />
          </div>
          <img
            alt="osudpotro"
            lazy="true"
            src="https://cdn.osudpotro.com/project_assets/Men's Products.webp?w=1080"
            decoding="async"
            data-nimg="intrinsic"
            class="align-top"
            style="
              position: absolute;
              inset: 0px;
              box-sizing: border-box;
              padding: 0px;
              border: none;
              margin: auto;
              display: block;
              width: 0px;
              height: 0px;
              min-width: 100%;
              max-width: 100%;
              min-height: 100%;
              max-height: 100%;
            "
            srcset="https://cdn.osudpotro.com/project_assets/Men's Products.webp?w=640 1x, https://cdn.osudpotro.com/project_assets/Men's Products.webp?w=1080 2x"
          /><noscript></noscript>
        </div>
      </div>
    </div>
  </div>
</div>
